/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

/* General Layout*/

.container {
  width: 100%;
  max-width: 1100px;
  padding: 0 3%;
  margin: 0 auto;

}

/* Section styles */
.header {
  background-color: #f5f5f5;
  padding: 30px 0;
}



/* Font Styles */

.main-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding: 30px 30px 15px;
  border-bottom: 1px solid #f5f5f5;
}


/* Book display styles */

.books-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-item {
  width: 30%;
  max-width:150px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.book-title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.book-image {
  position: relative;
}
.book-image img {
  height: 180px;
}



/* Buttons */

.btn {
  position: absolute;
  border-radius: 50%;
  border: 0;
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.move.btn { 
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  background-color: palevioletred;
  color: transparent;
}
.move.btn::before {
  content: "+";
  position: absolute;
  color: #fff;
  top: 0;
  left: 10px;
}

.add.btn {
  width: 70px;
  height: 70px;
  bottom: 24px;
  right: 24px;
  background-color: purple;
  color: #fff;
  position: fixed;
}

/* Search Bar */
 .search-container {
   margin: 30px 10%;
   display: flex;
   align-items: center; 
   border-bottom: 3px solid;
 }

 .search-input {
   border: 0; 
   width: 100%;
   line-height: 2.1;
   font-size: 20px;
   font-weight: bold;
 }
 
 .search-icon {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #5493b1;
   position: relative;
 }
 .search-icon:before {
   content: " ";
   position: absolute;
   top: calc(50% - 14.5px);
   left: calc(50% - 14.5px);
   width: 12px;
   height: 12px; 
   border-radius: 50%;
   border: 4px solid #fff;
 }

 .search-icon:after {
  content: " ";
  position: absolute;
  top: 27px;
  left: 22px;
  width: 9px;
  height: 4px; 
  transform: rotate(50deg);
  border-radius: 35%;
  background-color: #fff;
 }

