/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

/* General Layout*/

.container {
  width: 100%;
  max-width: 1100px;
  padding: 0 3%;
  margin: 0 auto;

}

/* Section styles */
.header {
  background-color: #f5f5f5;
  padding: 30px 0;
}



/* Font Styles */

.main-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}


/* Book display styles */

.books-list {
  display: flex;
  flex-wrap: wrap;
}

.book-item {
  width: 30%;
  max-width:150px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.book-title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.book-image {
  position: relative;
}
.book-image img {
  height: 180px;
}



/* Buttons */

.btn {
  position: absolute;
  border-radius: 50%;
  border: 0;
}

.move.btn { 
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  background-color: palevioletred;
  color: #fff;
}

.add.btn {
  width: 70px;
  height: 70px;
  bottom: 24px;
  right: 24px;
  background-color: purple;
  color: #fff;
}




